[submodule "public"]
	path = public
	url = git@github.com:moquapps/moquapps.github.io.git
	branch = master
[submodule "moquapps.github.io/public"]
	path = moquapps.github.io/public
	url = git@github.com:moquapps/moquapps.github.io.git
	branch = master
